<div class="uk-section" style="padding-bottom:10px;padding-top:50px;" id="date">
    <div class="uk-container uk-text-center">
        <div>
            <h2 class="uk-h1 cursive accent">May 21, 2022</h2>
        </div>
        <h2 class="uk-text-uppercase uk-h4">BalBoa Inn Resort</h2>
        <div>
            <h2 class="uk-h2 cursive accent">105 Main Street, Balboa, CA 92661</h2>
            <a href="https://www.bayshoreshotel.com/" class="uk-button uk-button-text uk-text-left uk-text-default">Nearby Hotel</a>

        </div>
        <div class="uk-margin-medium-top">
            <h2 class="uk-h1 cursive accent">Lifetime of Love</h2>
            <p>Song by Ralph Dudley</p>
            <audio controls>
                <source src = "/assets/lfietimeoflove (1).mp3" type = "audio/mpeg">
             </audio>
        </div>
    </div>
</div>
<div class="uk-section countdown uk-text-center" style="position: relative">
    <div class="uk-container">
        <div class="uk-flex uk-flex-center">
            <div class="uk-grid-small uk-child-width-auto uk-text-center" uk-grid uk-countdown="date: 2022-05-21T16:49:17+00:00">
                <div class="uk-card-default uk-card-body">
                    <div class="uk-countdown-number uk-countdown-days"></div>
                    <div class="uk-countdown-label uk-margin-small uk-text-center">Days</div>
                </div>
                <div class="uk-countdown-separator"></div>
                <div class="uk-card-default uk-card-body">
                    <div class="uk-countdown-number uk-countdown-hours"></div>
                    <div class="uk-countdown-label uk-margin-small uk-text-center">Hours</div>
                </div>
                <div class="uk-countdown-separator"></div>
                <div class="uk-card-default uk-card-body">
                    <div class="uk-countdown-number uk-countdown-minutes"></div>
                    <div class="uk-countdown-label uk-margin-small uk-text-center">Minutes</div>
                </div>
            </div>
        </div>
    </div>
</div>