<div class="uk-section" id="thecrew">
    <div class="uk-container uk-container-large">
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                <img src="/assets/1.jpg" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h2 class="uk-h1 uk-text-uppercase">To Our <span class="accent uk-text-italic">"I Do Crew"</span></h2>
                    <p>James and I are so honored that you will be standing by our sides as we venture through our journey with excitement to marital bliss. We are grateful for all of your continuous love and support in our lives and sharing such sweet and cherished memories reflecting on our tender and special relationships together. We have chosen YOU and we are so grateful you have chosen US.
                    </p>
                    <p class="uk-text-large uk-text-italic">&mdash; James & Rhonda</p><br>
                    <div uk-grid>
                        <div class="uk-width-1-2">
                            <h4 class="uk-text-bold accent">Best Man</h4>
                            <p>Jared Pruette</p>
                        </div>
                        <div class="uk-width-1-2">
                            <h4 class="uk-text-bold accent">Groomsmen</h4>
                            <p>Steven Ochner, Michael Ochner, Jordan Ochner, Brennen Renteria, Aaron Renteria, Rob Paul, Chris Barnett, Russell Barnett</p>
                        </div>
                    </div>
                    <div uk-grid>
                        <div class="uk-width-1-2">
                            <h4 class="uk-text-bold accent">Maid of Honor</h4>
                            <p>Joelle Maggio</p>
                            <h4 class="uk-text-bold accent">Matron of Honor</h4>
                            <p>Vee Cruz</p>
                        </div>
                        <div class="uk-width-1-2">
                            <h4 class="uk-text-bold accent">Bridesmaids</h4>
                            <p>Angie Stoll, Nancy Dresser, Lauren Renteria, Corinne Renteria, Shannon Barnett, Leanna Barnett</p>
                        </div>
                        <div class="uk-width-1-2">
                            <h4 class="uk-text-bold accent">MVP</h4>
                            <p>Janet Paul, Logan Paul, Dawson Paul, Neil Becker, Jennifer Becker, Scott Scheibe</p>
                        </div>
                        <div class="uk-width-1-2">
                            <h4 class="uk-text-bold accent">Family Mascot</h4>
                            <p>Maya Renteria</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
