<div class="uk-section uk-visible@m">
    <div class="uk-container uk-container-large">
        <div class="grid-wrapper">
            <div>
                <img src="/assets/til1.jpg" alt="" />
            </div>
            <div>
                <img src="/assets/tile2.jpg" alt="" />
            </div>
            <div class="tall">
                <img src="/assets/tile4.jpg" alt="">
            </div>
            <div class="wide">
                <img src="/assets/tile5.jpg" alt="" />
            </div>

        </div>
    </div>
</div>
<div id="photos"></div>
<div class="uk-section uk-hidden@m">
    <div class="uk-container">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation:fade">

            <ul class="uk-slideshow-items uk-child-width-1-1" uk-lightbox>
                <li>
                    <a href="/assets/til1.jpg">
                        <img src="/assets/til1.jpg" alt="" uk-cover>
                    </a>
                </li>
                <li>
                    <a href="assets/tile2.jpg">
                        <img src="assets/tile2.jpg" alt="" uk-cover>
                    </a>
                </li> 
                <li>
                    <a href="/assets/tile4.jpg">
                        <img src="/assets/tile4.jpg" alt="" uk-cover>
                    </a>
                </li>
                <li>
                    <a href="/assets/tile5.jpg">
                        <img src="/assets/tile5.jpg" alt="" uk-cover>
                    </a>
                </li>
            </ul>
        
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        
        
        </div>
    </div>
</div>