{{ $ihfID := .Site.Data.idx.ihf_client_id }}
{{ $buttonColor := .Site.Data.appearance.colors }}
{{ $slideSettings := .Site.Data.homelayout.slideshow_settings }}
<div class="uk-position-top" style="z-index:1">
    {{ partial "global/navbar" . }}
</div>
<div class="uk-padding-small">
    <div class="uk-position-relative uk-visible-toggle uk-cover-container" tabindex="-1" uk-slideshow="animation: fade;autoplay: true">

        <ul class="uk-slideshow-items" uk-height-viewport="offset-bottom:10">
            
            <li>
                <div class="uk-position-cover uk-transform-origin-center-left uk-animation-kenburns">
                    <img src="/assets/hero2.jpg" alt="" uk-cover>
                    <div class="hero-overlay uk-position-cover"></div>
                </div>
                <div class="uk-position-center uk-position-small uk-text-center hero">
                    <div class="uk-width-2xxlarge uk-light uk-margin-large-top">
                        <h1 class="uk-margin-remove uk-text-uppercase">Our &middot; Forever &middot; After</h1>
                        <div class="uk-width-2xlarge">
                            <p class="uk-margin-remove uk-text-default">We're looking forward to celebrating our special day with all of you. You are truly a blessing and a treasure to us.</p>
                      </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-position-cover uk-transform-origin-center-left uk-animation-kenburns">
                    <img src="/assets/hero3.jpg" alt="" uk-cover>
                    <div class="hero-overlay uk-position-cover"></div>
                </div>
                <div class="uk-position-center uk-position-small uk-text-center">
                    <div class="uk-width-2xxlarge uk-light hero uk-margin-large-top">
                        <h1 class="uk-margin-remove uk-text-uppercase">Our &middot; Forever &middot; After</h1>
                        <div class="uk-width-2xlarge">
                            <p class="uk-margin-remove uk-text-default">We're looking forward to the next months celebrating with all of you. You are truly a blessing and a treasure to us.</p>
                        </div>
                    </div>
                </div>
            </li>
            
        </ul>
    
    </div>
</div>