{{/*  <div class="uk-padding" style="padding-bottom:0">
    <div class="uk-section" style="background: #e0d6cd">
        <div class="uk-container">
            <div class="uk-text-center">
                <h2 class="uk-h1 uk-text-uppercase">To Our "I Do Crew"</h2>
                <p>James and I are so honored that you will be standing by our sides as we venture through our journey with excitement to marital bliss. We are grateful for all of your continuous love and support in our lives and sharing such sweet and cherished memories reflecting on our tender and special relationships together. We have chosen YOU and we are so grateful you have chosen US. Here are a few details to assist as we move forward tot he big day.
                </p>
                <p>Hopefully, this will help you in the planning process and things will move smoothly as the time will pass quickly.</p>
                <p class="uk-text-large uk-text-italic">James & Rhonda</p><br>
            </div>
            
        </div>
    </div>
</div>  */}}
